
  @import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap');

.App {
  display: flex;
  justify-content: center;
}
.main-container{
display: flex;
flex-direction: column;
align-items: center;
border: 5px solid #3F979B;
border-radius: 20px;
margin-top: 20%;
padding: 10%;
}
.App-header {
  background-color: #B9F3FC;
  display: flex;
  flex-direction: column;
  color: white;
}
.header-text{
  color: #3F979B;
  font-family: 'Delicious Handrawn';
  letter-spacing: 3px;
  font-size: 35px;
  margin-top: 50px;
}
p{
  color: #3F979B;
  font-family: 'Delicious Handrawn';
  letter-spacing: 2px;
  font-size: 20px;
  align-self: center;
}
form{
  display: flex;
  flex-direction: column;
}
label{
  display: flex;
  flex-direction: column;
}
label p{
  margin-top: -10px;
}
input{
  margin-top: 20px;
  background-color: #8BF5FA;
  border: 0px;
  border-radius: 50px;
  padding-left: 10px;
  font-family: 'Delicious Handrawn';
  font-size: 20px;
  color: #3F979B;
  height: 25px;
  text-align: center;
}
  button{
  margin-top: 15px;
  background-color: #3F979B;
  border-radius: 50px;
  border: 0px;
  color: #8BF5FA;
  margin-bottom: 20px;
  font-family: 'Delicious Handrawn';
  letter-spacing: 2px;
  padding: 5px;
  margin-top: 25px;
}
input[type="number"]:focus {
  border: 0px;
}
input[type="number"], textarea, select { 
  outline: none;
}
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}